<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo" id="logo">
        </a>
  
        <h1>Create Post</h1>
        <nav>
            <ul>
                <li><a href="/allposts">All posts</a></li>
                <li><a href="/supply">Services</a></li>
                <li><a href="/requests">Requests</a></li>
                <li><a href="/createpost">Create Post</a></li>
            </ul>
        </nav>
        <section class="auth-links">
            {% if current_user.is_authenticated %}
                <a href="/profile">Your Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </section>
        
    </header>

    <main>
        <h2>What kind of post do you want to create?</h2>

        <a href="/highschool">
            <button class="creat-button-request" type="button">Request</button>
          </a>
        
          <a href="/university">
            <button class="creat-button-service" type="button">Service</button>
          </a>  
    </main>
</body>
</html>
