<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Student Interaction Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo" id="logo">
        <h1>Student Interaction Website</h1>
        <nav>
            <ul>
                <li><a href="/allposts">All posts</a></li>
                <li><a href="/supply">Services</a></li>
                <li><a href="/requests">Requests</a></li>
                <li><a href="/createpost">Create Post</a></li>
            </ul>
        </nav>
        <section class="auth-links">
            {% if current_user.is_authenticated %}
                <a href="/profile">Your Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </section>
        
    </header>

    <main>
        <form>
            <section>
                <h2>About Us</h2>
                <p>Welcome to the Student Interaction Website, a platform where university and high school students can interact, share services, and connect with each other.</p>
            </section>
        </form>
      
        <form>
            <section>
                <h2>How It Works</h2>
                <p>Students can post their services and browse services offered by others. Whether you're offering tutoring, freelance work, or just looking to collaborate, this is the place for you!</p>
            </section>
         </form>
    </main>

    <footer>
        <p>&copy; 2024 Student Interaction Website</p>
    </footer>
</body>
</html>
