<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Student Interaction Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Student Interaction Website</h1>
        <nav>
            <ul>
                <li><a href="/supply">Services</a></li>
                <li><a href="/requests">Needs</a></li>
                <li><a href="/university">Offer</a></li>
                <li><a href="/highschool">Request</a></li>
            </ul>
        </nav>
        <section class="auth-links">
            {% if current_user.is_authenticated %}
                <a href="/profile">Your Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </section>
        
    </header>

    <main>
        {% if not current_user.is_authenticated %}
        <form>
            <h2>Login</h2>
        </form>    
        <form method="POST" action="{{ url_for('login') }}">
            <label for="email">Email</label>
            <input type="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        {% endif %}
    </main>

</body>
</html>
