<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Service Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Service Requests</h1>
        <nav>
            <ul>
                <li><a href="/supply">Services</a></li>
                <li><a href="/requests">Needs</a></li>
                <li><a href="/university">Offer</a></li>
                <li><a href="/highschool">Request</a></li>
                
                {% if current_user.is_authenticated %}
                    <li><a href="/profile">Your Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <!--Search Engine for requests-->

        <form method="get" action="{{ url_for('search_results_requests') }}">
            <input type="text" name="query" placeholder="Search Requests by title or subject" value="{{ request.args.get('query', '') }}">
            <button type="submit">Search</button>

            {% if results %}
            <ul>
                {% for post in results %}
                    <li>
                        <h3>{{ post.title }}</h3>
                        <p><strong>Subject:</strong> {{ post.subject }}</p>
                        <p><strong>Price:</strong> ${{ post.price }}</p>
                        <a href="{{ url_for('request_detail', request_id=post.id) }}">View Details</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Requests found matching your query.</p>
        {% endif %}
        </form>
        

        <form>
            {% if requests %}
                <ul>
                    {% for request, username in requests %}
                        <li>
                            <h3>{{ request.title }}</h3>
                            <p><strong>Subject:</strong> {{ request.subject }}</p>
                            <p><strong>Description:</strong> {{ request.description }}</p>
                            <p><strong>Created by:</strong> {{ username }}</p>
                            <a href="{{ url_for('request_detail', request_id=request.id) }}">View Details</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No requests available.</p>
            {% endif %}
        </form>
    </main>

    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>
</body>
</html>
