<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ request.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo" id="logo">
        </a>
        <h1>{{ request.title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allposts">All posts</a></li>
                <li><a href="/createpost">Create Post</a></li>
            </ul>
        </nav>
        <section class="auth-links">
            {% if current_user.is_authenticated %}
                <a href="/profile">Your Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </section>
        
    </header>
    
    <main>
        <form>
            <p><strong>Title:</strong> {{ request.title }}</p>
            <p><strong>Subject:</strong> {{ request.subject }}</p>
            <p><strong>Description:</strong> {{ request.description }}</p>
            <p><strong>Price:</strong> {{ request.price }}</p>
            <p><strong>Contact</strong> {{ request.contact  }}</p>
            <p><strong>Additional Information:</strong> {{ request.additional_information }}</p>
            <p><strong>Created by:</strong> {{ request.user.username }}</p>

        </form>
    </main>

    <footer>
        <p>&copy; 2024 Students4Students</p>
    </footer>
</body>
</html>
