<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ service.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{{ service.title }}</h1>
        <nav>
            <ul>
                <li><a href="/supply">Angebot</a></li>
                <li><a href="/requests">Requests</a></li>
                <li><a href="/university">Anbieten</a></li>
                <li><a href="/highschool">Nachfragen</a></li>
                
                {% if current_user.is_authenticated %}
                    <li><a href="/profile">Your Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <form>
            <!-- Additional details for university students -->
            <p><strong>Subject:</strong> {{ service.subject }}</p>
            <p><strong>University:</strong> {{ service.university }}</p>
            <p><strong>Semester:</strong> {{ service.semester }}</p>
            <p><strong>Price:</strong> ${{ service.price }}</p>
            <p><strong>Description:</strong> {{ service.description }}</p>
            <p><strong>Contact:</strong> {{ service.contact}}</p>
            <p><strong>Additional Information:</strong> {{ service.additional_info}}</p>
            <p><strong>Created by:</strong> {{ service.user.username }}</p>

        </form>
    </main>

    <footer>
        <p>&copy; 2024 Student Interaction Website</p>
    </footer>
</body>
</html>
