<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>University Students - Post Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Post Your Services</h1>
        <nav>
            <ul>
                <li><a href="/supply">Services</a></li>
                <li><a href="/requests">Needs</a></li>
                <li><a href="/university">Offer</a></li>
                <li><a href="/highschool">Request</a></li>
                
                {% if current_user.is_authenticated %}
                    <li><a href="/profile">Your Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <form method="POST" action="/add_service">

            <label for="title">Service Title</label>
            <input type="text" id="title" name="title" placeholder="Enter service title" required>

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Major and minor" required>

            <label for="university">University</label>
            <input type="text" id="university" name="university" placeholder="Name of your university" required>    

            <label for="semester">Semester</label>
            <input type="text" id="semester" name="semester" placeholder="Your current semester (e.g., 3rd Semester)" required>

            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Describe your service" required></textarea>

            <label for="price">Price</label>
            <input id="price" name="price" placeholder="Number required"></input>

            <label for="contact">Contact</label>
            <textarea id="contact" name="contact" placeholder="email or phone number" required></textarea>

            <label for="additional_info">Additional Info</label>
            <textarea id="additional_info" name="additional_info" placeholder="Anything else you want to add?"></textarea>
    
            <button type="submit">Post Service</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 Student Interaction Website</p>
    </footer>
</body>
</html>
